---
title: BCAA
layout: default
background: '/assets/images/bcaa-logo.png'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %}
{% for post in site.posts %}
{% if post.hero == true %}
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">{{post.title}}</h1>
      <p class="lead mb-4">{{post.excerpt}}</p>
      <a href="{{post.url | absolute_url}}" class="btn btn-dark text-white px-5 btn-lg">Learn more</a>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/{{post.image_svg}}">
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}

<!-- Featured Posts List with Sidebar
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% assign featured_posts = site.posts | where: 'featured', true %}
      {% for post in featured_posts %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-6 mb-5">
        <a href="news/" class="btn btn-custom px-4 btn-sm" rel="noopener noreferrer">Explore More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>